.card-img-top{
    width: 200px;
    height: 100px;
    top: 80%;
    
}
.card{
    background-color: transparent;
}
.ul{
    background-color: transparent;
}

.card-title{
    color: aliceblue;
}
.card-text{
    color: aliceblue;
}
