.navbar-brand{
    color: rgb(8, 8, 8);


}
a.link{
    text-decoration: none;
}
.nav-item{
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}
.container-fluid{
    text-decoration: none;
    text-decoration-line: none;
}